<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118233221518-sgfvcqdejmuea0ac57gp6dofobm85487.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118233221518-sgfvcqdejmuea0ac57gp6dofobm85487</string>
	<key>API_KEY</key>
	<string>AIzaSyA5sPfkVBoruthPp60pCnbAkrfvD1jk3Zs</string>
	<key>GCM_SENDER_ID</key>
	<string>118233221518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.htwg.perritos</string>
	<key>PROJECT_ID</key>
	<string>flutterperritos</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterperritos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118233221518:ios:71510d9066fbd93ce13cdf</string>
</dict>
</plist>